<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CnnStr" connectionString="host=95.216.229.55; port=5432; database=new_inspector; user id=postgres; password=pwd123" />
    <!--<add name="CnnStr" connectionString="Data Source=172.20.249.167;Initial Catalog=SFDA_Jun_26_19_QC;persist security info=True;user id=sfda_drugs;password=sfda_drugs;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="CnnStr" connectionString="Data Source=172.20.249.167;Initial Catalog=SFDA_UnitTesting;persist security info=True;user id=sfda_drugs;password=sfda_drugs;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
